[general]
plugin-directory=./build/src/plugins
database-directory=./data.db

[subsonic-1]
server-url=https://navidrome.example.fake
username=username
password=password

[filesystem-1]
directory=/usr/username/musiclib
